<h1>Items</h1>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
<table>
  <tr>
    <th>item id</th>
    <th>Name</th>
    <th>Price</th>
    <th>created_at</th>
    <th></th>
  </tr>

  <% @items.each do |i| %>

    <tr>
      <td><%= i.id %></td>
      <td><%= link_to i.name, item_path(i) %></td>
      <td><%= i.price %> руб.</td>
      <td><%= i.created_at.to_s.sub("2012", "2013") %></td>
      <td><%= link_to "Удалить", i, method: :delete, data: { confirm: "Точно удалить?" } %></td>
      <td>Рейтинг: <%= i.votes_count %>, <%= link_to "+", upvote_item_path(i) %></td>
    </tr>

  <% end %>

</table>
<% end %>
