%h1= @page_title = @item.name
%p= image_tag @item.image.normal unless @item.image.blank?

%ul
  %li= "#{@item.price} руб."
  %li= urls_to_links(urls_to_images(@item.description)) 
  %li Вес: #{@item.weight} кг.
  %li Просмотров: <b>#{@item.views.value}</b>

= render partial: "shared/email"
