<h1><%= @item.name %></h1>

<p><%= image_tag @item.image.normal %></p>

<ul>
  <li><%= @item.price %>руб.</li>
  <li><%= urls_to_links(urls_to_images(@item.description)) %></li>
  <li><%= t("item.weight") %> <%= @item.weight %>кг.</li>

</ul>
<%= render partial: "shared/email" %>
